# Step Forward Selection -- Based on VIF values

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from scipy import stats
from statsmodels.stats.outliers_influence import variance_inflation_factor

C:\Users\KUS\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
C:\Users\KUS\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()
bos = pd.DataFrame(boston.data)
bos.columns = boston.feature_names
bos["Price"] = boston.target
bos.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  Price
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [3]:
x = bos.iloc[:,:-1]
y = bos.iloc[:,-1]

In [4]:
num_ls = np.arange(1,14)
num = 0
high_score = 0
score_list = []
vif = [variance_inflation_factor(x.values,i) for i in range(x.shape[1])]
for i in range(len(num_ls)):
    if(vif[i]>high_score):
        high_score = vif[i]
        num = num_ls[i]
print("The highest vif score is {}".format(high_score))
print("Feature at {} gives the best score of {}".format(num,high_score))

The highest vif score is 85.02954731061801
Feature at 11 gives the best score of 85.02954731061801

In [9]:
vif = [variance_inflation_factor(x.values,i) for i in range(x.shape[1])]
v = pd.Series(vif,index=cols)
v

CRIM        2.100373
ZN          2.844013
INDUS      14.485758
CHAS        1.152952
NOX        73.894947
RM         77.948283
AGE        21.386850
DIS        14.699652
RAD        15.167725
TAX        61.227274
PTRATIO    85.029547
B          20.104943
LSTAT      11.102025
dtype: float64

In [15]:
cols = list(x.columns)
len(cols)

13

In [22]:
vif = [variance_inflation_factor(x.values,i) for i in range(0,x.shape[1])]
len(vif)

13

In [21]:
c=0
for i in range(0,x.shape[1]):
    c +=1
c

13

In [24]:
vif = [variance_inflation_factor(x.values,i) for i in range(0,x.shape[1])]
v = pd.Series(vif,index=x.columns)
v

CRIM        2.100373
ZN          2.844013
INDUS      14.485758
CHAS        1.152952
NOX        73.894947
RM         77.948283
AGE        21.386850
DIS        14.699652
RAD        15.167725
TAX        61.227274
PTRATIO    85.029547
B          20.104943
LSTAT      11.102025
dtype: float64

In [25]:
vmax = max(v)
vmax

85.02954731061801

In [26]:
feature_name = v.idxmax()
feature_name

'PTRATIO'

In [27]:
x.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [46]:
x.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [41]:
def cal_vif(x):
    thresh = 5
    output= pd.DataFrame()
    k = x.shape[1]
    vif = [variance_inflation_factor(x.values,i) for i in range(x.shape[1])]
    for i in range(1,k):
        print('Iteration no ',i)
        print(vif)
        a = np.argmax(vif)
        print('Max vif is for variable no : ',a)
        if(vif[a]<=thresh):
            break
        if(i==1):
            output = x.drop(x.columns[a],axis=1)
            vif = [variance_inflation_factor(output.values,j) for j in range(output.shape[1])]
        elif(i>1):
            output = output.drop(output.columns[a],axis=1)
            vif = [variance_inflation_factor(output.values,j) for j in range(output.shape[1])]
    return(output)

In [44]:
final_fea = cal_vif(x)

Iteration no  1
[2.1003728199615233, 2.8440132669462637, 14.485757706539308, 1.1529518589418775, 73.89494652814788, 77.94828304638538, 21.38685048994314, 14.6996523837492, 15.167724857920897, 61.227274009649456, 85.02954731061801, 20.104942636229136, 11.102024772203526]
Max vif is for variable no :  10
Iteration no  2
[2.0993450988887994, 2.4516239333501733, 14.275283443191572, 1.142166769531589, 73.89417092973886, 60.59884630036531, 21.36123441022683, 12.221604808907573, 15.159162426165981, 59.301541454952265, 18.614750801243314, 10.138323715394304]
Max vif is for variable no :  4
Iteration no  3
[2.097537180550825, 2.44966060313656, 13.150904408978576, 1.1382767603697859, 41.40674622417238, 19.889622585231074, 12.032952113843805, 15.155012256575054, 57.72034668372636, 18.39607228476045, 9.207840409297305]
Max vif is for variable no :  8
Iteration no  4
[2.0974663048400415, 2.3752191416710713, 9.290080328598016, 1.1186133181477458, 39.069063497543915, 19.780943871481174, 11.817803408912292, 4.9656331926069335, 18.289916840985246, 9.046248153889792]
Max vif is for variable no :  4
Iteration no  5
[2.0953673253514733, 2.3347631851445017, 9.016141750682445, 1.1162289252242368, 14.000757811090512, 8.447693996271836, 4.771767494103641, 13.53702026296892, 8.358925166387719]
Max vif is for variable no :  4
Iteration no  6
[2.095210658857029, 2.313889157442322, 8.205465298303906, 1.1063500579089747, 8.209371407335142, 4.689835532800937, 10.074224239820218, 6.856889483023408]
Max vif is for variable no :  6
Iteration no  7
[2.067134507534897, 2.2993507020459507, 6.900077364487575, 1.0865738965665395, 3.968908307153931, 4.678180622019607, 6.726972565439198]
Max vif is for variable no :  2
Iteration no  8
[2.0405218396990135, 2.2375337533434214, 1.059249264395732, 3.9416287324211603, 3.738091484464663, 4.2485126843488015]
Max vif is for variable no :  5

In [45]:
final_fea.head()

      CRIM    ZN  CHAS     DIS  RAD  LSTAT
0  0.00632  18.0   0.0  4.0900  1.0   4.98
1  0.02731   0.0   0.0  4.9671  2.0   9.14
2  0.02729   0.0   0.0  4.9671  2.0   4.03
3  0.03237   0.0   0.0  6.0622  3.0   2.94
4  0.06905   0.0   0.0  6.0622  3.0   5.33

# Embedded Method - Makes use of LassoCV -- Another Method to do feature selection